{% import "blocks/micros.html" as micros %}
{% extends "blocks/layout.jinja" %}

{% block title %}Opret Bruger{% endblock %}

{% block content %}
	<form id="createUserForm" action method="post">

		<div style="margin:0;padding:0;display:inline">
			<input name="utf8" type="hidden" value="✓">
			<input name="authenticity_token" type="hidden" value="{{ setAuthenticationCode | safe }}">
		</div>

		{{ micros.form_group('username', 'text', 'Brugernavn', 'Indtast brugernavn')}}
		{{ micros.form_group('password', 'password', 'Kodeord', 'Kodeord')}}

		<div class="checkbox">
	    	<label>
	    			<input type="checkbox" name="KeepMeLoggedIn" value="true" type="checkbox" checked="true"/>Forbliv logget ind
	    			<input name="KeepMeLoggedIn" type="hidden" value="false" />
	    	</label>
	  	</div>
		
		<button type="Login" class="btn btn-primary">Opret bruger</button>
	</form>
{% endblock %}

