{% import "blocks/micros.html" as micros %}
{% extends "blocks/base.html" %}
{% block title %}Login{% endblock %}
{% block content %}


	{{ micros.flashs() }}

	<form action method="post">
		{{ micros.form_group('username', 'text', 'Brugernavn', 'Indtast brugernavn')}}
		{{ micros.form_group('password', 'password', 'Kodeord', 'Kodeord')}}

		<div class="checkbox">
	    	<label>
	    		<input type="hidden" value="0" name="KeepMeLoggedIn" />
				<input type="checkbox" value="1" name="KeepMeLoggedIn" />Forbliv logget ind
	    	</label>
	  	</div>
		
		<button type="Login" class="btn btn-primary">Opret bruger</button>
	</form>
{% endblock %}



