{% import "blocks/micros.html" as form %}
{% extends "blocks/base.html" %}

{% block title %}Login{% endblock %}


{% block content %}


{% if session['username'] %}
	
	<div class="alert alert-info" role="alert">
  		<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
  		<span class="sr-only">Fejl:</span>
  		Du er allrede logget ind som {{ session['username'] }}
	</div>

{% else %}
	<form action method="post">
		{{ form.form_group('username', 'text', 'Brugernavn', 'Indtast brugernavn')}}
		{{ form.form_group('password', 'password', 'Kodeord', 'Kodeord')}}
		<button type="login" class="btn btn-default">Opret bruger</button>
	</form>
{% endif %}

{% endblock %}