{% import "blocks/micros.html" as micros %}
{% extends "blocks/layout.jinja" %}

{% block title %}Login{% endblock %}


{% block content %}

	<form action method="post">

		<div style="margin:0;padding:0;display:inline">
			<input name="utf8" type="hidden" value="✓">
			<input name="authenticity_token" type="hidden" value="{{ setAuthenticationCode | safe }}">
		</div>
		
		 <div class="form-group">
		  	<label for="username">Brugernavn</label>	
		    <input autocapitalize="off" autocorrect="off"  name="username" type="text" class="form-control" id="username" {% if formerUsernameInput != '' %} value="{{ formerUsernameInput }}" {% endif %} placeholder="Indtast brugernavn">
		  </div>

		{{ micros.form_group('password', 'password', 'Kodeord', 'Kodeord')}}

		<div class="checkbox">
	    	<label>
	    			<input type="checkbox" name="KeepMeLoggedIn" value="true" type="checkbox" checked="true"/>Forbliv logget ind
	    			<input name="KeepMeLoggedIn" type="hidden" value="false" />
	    	</label>
	  	</div>

		<button type="login" class="btn btn-primary">Login</button>
	</form>

{% endblock %}

