{% import "blocks/micros.html" as micros %}
<!DOCTYPE html>
<html lang="en">

{% block head %}
	<head>
		{# Indsæt sidetitel + hjemmeside navn  #}
	    <title>{% block title %}{% endblock %} - {{ g['siteName'] }} - </title>

	    {# Indsæt metadata  #}
	   	{% include "blocks/header.html" %}
	</head>	
{% endblock %}


	<body>


		{# Lav menu bar og sæt aktive side  #}
		{% include "blocks/nav.html" %}
		
	{{ micros.flashs() }}	
		

		{% set active_page = active_page  %}

		{% block hero %}
		{% endblock %}

			{# Hent banner functionen  #}	

			
	    <div id="mainContainer" class="container">
	    	{% block content %}{% endblock %}

	    </div>


	    {# Indsæt footer  #}
	   	{% include "blocks/footer.html" %}

	   	{# Indsæt javascript  #}
	   	{% include "blocks/scripts.html" %}



	</body>

</html>