

html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
	margin-bottom: 120px;
	padding-top: 50px;
}

#mainContainer {
  padding-top: 20px;

}

.alertOverlay {
  position: absolute;
  z-index: 40;
  top: 60px;
  display:table-cell;
  width: 100%;
}
.alertOverlay * {
  margin-left:auto;
  margin-right:auto;
}
nav {
  margin-bottom: 0;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}


.cookie-notice {
  text-align: center;
  position: fixed;
  bottom: 0px;
  width: 100%;
  padding: 15px;
  border: 1px solid transparent;
  padding-right: 35px;
}


.jumbotron {
  min-height: 50vh;
}